<%= render '/pages/navbar' %>

<%= render '/pages/showcard' %>
  <div class="hoover; container49">
    <p class="gmp-btn gmp-btn:hover"><%= link_to "Update your Grandma", edit_grandma_path(@grandma)%></p>
    <p class="gmp-btn gmp-btn:hover"><%= link_to 'Destroy', grandma_path(@grandma), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</div>


