// Import page-specific CSS files here.
@import "home";

.main-container {
    display: flex;
    padding: 10px;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    justify-items: center;
}

.formdate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formcenter {
  display:flex;
  align-items: center;
}
