// Import page-specific CSS files here.
@import "home";

.main-container {
    display: flex;
    padding: 10px;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    justify-items: center;
}
