<div class="d-flex flex-column mheight100">

<%= render 'navbar' %>

<div class="height100">
  <div class="banner">
    <h1>Book ta mémé</h1>
    <p>Prêt à profiter du pouvoir d'une vieille et sage grand-mère ?</p>
    <%= render 'searchgdma' %>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <div class="container">
    <h2>Découvrez ces supers mémés !</h2>
    <%= render 'cardsGrandma' %>
  </div>
</div>
</div>
