<%= render 'navbar' %>

<div class="container">
<h1>Grandma Rental super website</h1>
<p>Ready to use the power of an old and wise Grandma?</p>

<%= render 'searchgdma' %>

<hr>
  <% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>

<%= render 'cardsGrandma' %>
</div>

