.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://res.cloudinary.com/dvzvqwrnz/image/upload/v1573729602/css/skiathos-greece-gUzsm9gqKBE-unsplash_wjhwhw.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 50px 120px;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

