.gmp-btn {
    border-radius: 6px;
    padding: 5px 16px;
    text-decoration: none;
    background-color: #C4FCF0;
    box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
    color: #f45905;
    letter-spacing: 1px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .15s ease;
    opacity: 0.92;
}

.gmp-btn:hover {
      opacity: 1;
      text-decoration: none;

}
