.searchhome {
  width: 475px;
}

.competence {
padding-bottom: 10px;
}

.block {
  display: block;
}

.labels {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
